.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  z-index: 1;
}

.react-resizable-handle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.Grid {
  outline: none !important;
}

/* Tooltip animations */
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-radix-tooltip-content] {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

[data-radix-tooltip-content][data-side="top"] {
  animation-name: slideDownAndFade;
}

[data-radix-tooltip-content][data-side="right"] {
  animation-name: slideLeftAndFade;
}

[data-radix-tooltip-content][data-side="bottom"] {
  animation-name: slideUpAndFade;
}

[data-radix-tooltip-content][data-side="left"] {
  animation-name: slideRightAndFade;
}